*{
    margin: 0;
    padding: 0;
}
ul{
    font-size: 30px;
    border: solid 5px black;
    width: fit-content;
}

p{
    margin-left: 10px;
    font-size: 20px;
}
h1{
    margin-left: 10px;
    text-decoration: underline;
}
#copyright{
    font-size: 10px;
    color: red;
}
